*{
    padding: 0;
    border:0;
}
.admin_tool{
    padding-bottom: 5vh;
    width:40%;
    height:auto;
    position: absolute;
    top:20vh;
    box-shadow:3px 1px 10px 2px rgba(0, 0, 0, 0.507) ;
    left:5vw;
}
#doctor{
    position: relative;
    padding-top:2vh ;
    left:15vw;
}
#dept{
    position: relative;
    padding-top:2vh ;
    left:13vw;
    top:5vh;
   padding-bottom: 10vh;
}
.adm_btn{
    width: 5vw;
    height: 6vh;
    position: relative;
    color: white;
    background-color: red;
    font-family: 'Archivo', sans-serif;
    margin-left: 2vw;
    border-radius: 10px;
}
#doc_btn_1{
    top:1vh;
}
.adm_btn:hover{
    background-color:#1B23D6;
    transition: .4s;
}
.doctor_tool{
    position: relative;
    left:7vw;
    top:3vh;
}
.dept_tool{
    position: relative;
    left:7vw;
    top:-2vh;
}
.add_doc{
    padding-bottom: 5vh;
    width:40%;
    height:auto;
    position: absolute;
    top:20vh;
    box-shadow:3px 1px 10px 2px rgba(0, 0, 0, 0.507) ;
    left:5vw;
    display:none;
}
a:link{
    color: white;
    text-decoration: none;
}
a{
    color: white;
}
.admin_details {
    padding-bottom: 5vh;
    width:40%;
    height:50vh;
    position: absolute;
    top:40vh;
    box-shadow:3px 1px 10px 2px rgba(0, 0, 0, 0.507) ;
    left :50%;
}
.heading_dlist {
    display:inline;
}
#heading_1 {
    padding-right: 6vw;
    padding-left: 2vw;
}
#inside_header {
    padding-top: 2vh;
    color: white;
}
.list_item {
    width:1vw;
}
.adm_deptname_div{
    display:inline-block;
    width:13vw;
    padding-bottom: 2vh;
    padding-left: 5vw;
}
.dno_div{
    display:inline-block;
    width: 8vw;
    padding-left: 12vw;
}
.form3 {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    margin-bottom: 0%;
}
input {
    display: block;
    border-radius: 40px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
    box-shadow: 5px 10px 10px #03052246;
    outline: none;
}

#add_dept {
    display: none;
}
#doctor_details_del {
    height: 80vh;
    width:40vw;
    position: relative;
    left:4vw;
    display: inline;
    display: none;
   margin: 0;
   box-shadow: 5px 10px 10px #03052246;
   overflow-y: scroll;
   overflow-x: none;
}
#admin_doc_del {
    height:15vh;
    width:35vw;
    position: relative;
    padding-left: 3vw;
}
.del_doc {
    display: inline;
    padding-right: 2vw;
}
.delete_admin_doc{
    position: relative;
    width: 10vw;
    height: 5vh;
    color: white;
    background-color: red;
    font-family: 'Archivo', sans-serif;
    font-size: 1.2rem;
    left:0vw;
    margin: 0;
    margin-top: 2vh;
    display: inline;
}
.delete_admin_doc:hover{
    background-color: #1B23D6;
}
.del_dept {
    display: inline;
    padding-right: 2vw;
}
.delete_admin_dept {
    position: relative;
    width: 10vw;
    height: 5vh;
    color: white;
    background-color: red;
    font-family: 'Archivo', sans-serif;
    font-size: 1.2rem;
    left:20vw;
    margin: 0;
    top:-5.5vh;
    margin-top: 2vh;
    display: inline;
}
.delete_admin_dept:hover{
    background-color: #1B23D6;
}
#Department_details_del{
    height: 80vh;
    width:40vw;
    position: relative;
    left:4vw;
   margin: 0;
   box-shadow: 5px 10px 10px #03052246;
   overflow-y: scroll;
   overflow-x: none;
   display: none;
}
#update_doctor_sub {
    position: relative;
    left:7vw;
    display:none;
    top:3vh;
}

#back_btn {
    background-color: #1B23D6;
    position: relative;
    top:1.2vh;
}

#back_btn:hover {
    background-color: red;
}