@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*{
    margin: 0;
    padding: 0;
}
.doclist{
    padding-bottom: 5vh;
    width:40%;
    height:auto;
    position: absolute;
    top:20vh;
    left :50%;
    box-shadow:3px 1px 10px 2px rgba(0, 0, 0, 0.507) ;
}
.name{
   font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    display: inline;
    position: relative;
    left:44vw;
   top: 2vh;
}
.search{
    display: inline;
    position: relative;
    left:10vw;
    padding-bottom: 3vw;
    margin-bottom: 5vh;
}
#searchbox{
    width:32vw;
    position: relative;
    height:5vh;
    padding-left: 2vw;
    left:-10vw;
    overflow: hidden;
    outline: none;
    box-shadow:3px 1px 10px 2px rgba(0, 0, 0, 0.507) ;
}
#searchbtn{
    height:5vh ;
    position: relative;
    width: 7.5vw;
    left:-10vw;
    color: white;
    background-color:#1B23D6 ;
    box-shadow:3px 1px 10px 2px rgba(0, 0, 0, 0.507) ;
}
#searchbtn:hover{
    background-color: red;
}
input{
    overflow: hidden;
}
.searchresult{
    padding-top: 2vh;
    padding-left: 2vw;
}
.doc_details{
    display: inline;
    position: relative;
    font-family: 'Archivo', sans-serif;
    font-size: 1.2rem;
}
.dname_div{
    display:inline-block;
    width:13vw;
    padding-bottom: 2vh;
}
.dpname_div{
    display:inline-block;
    width: 8vw;
}

.day_div{
    display:inline-block;
    width: 8vw;
}
.time_div{
    display:inline;
}
.inv{
    display:none;
}
.appointment{
    position: relative;
    width: 10vw;
    height: 5vh;
    color: white;
    background-color: red;
    font-family: 'Archivo', sans-serif;
    font-size: 1.2rem;
    left:25vw;
}
.appointment:hover{
    background-color: #1B23D6;
}
.profile{
    display:inline;
    position: relative;
    left:65vw;
    top:2vh;

}
#mng_prf{
    color: white;
    background-color: red;
    height: 5vh;
    width:6.5vw;
    position: relative;
    z-index: 0;
}
#doclist{
    display: block;
}
.btn_list{

    display: none;
    padding-bottom: 5vh;
    width:40%;
    height:auto;
    position: absolute;
    top:20vh;
    left :50%;
    box-shadow:3px 1px 10px 2px rgba(0, 0, 0, 0.507) ;
    padding-top: 5vh;
}
.prf_btn{
    width: 5vw;
    height: 6vh;
    position: relative;
    color: white;
    background-color: red;
    font-family: 'Archivo', sans-serif;
    margin-left: 2vw;
    border-radius: 10px;
}
.prf_btn:hover{
    background-color:#1B23D6;
    transition: .4s;
}
#btn_list_2{
    top:-1vh;
    left: 8vw;
}
#btn_list_1{
    left: 8vw;
}
#btn_list_3{
    left: 8vw;
}
.apmnt_list{
    padding-bottom: 5vh;
    width:40%;
    height:auto;
    position: absolute;
    top:20vh;
    box-shadow:3px 1px 10px 2px rgba(0, 0, 0, 0.507) ;
    left:5vw;
}
#apmnt{
    position: relative;
    left:12vw;
}
.up_ampnt{
    position: relative;
    top:5vh;
    left:2vw;
}
#mng_prf_admin{
    color: white;
    background-color: red;
    height: 5vh;
    width:6.5vw;
    position: relative;
    z-index: 0;
}
.btn_list_admin{

    display:block;
    padding-bottom: 5vh;
    width:40%;
    height:auto;
    position: absolute;
    top:20vh;
    left :50%;
    box-shadow:3px 1px 10px 2px rgba(0, 0, 0, 0.507) ;
    padding-top: 5vh;
}